<div class="col-md-8 col-xl-6 chat">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight">
                <div class="img_cont">
                    <img src="{{ url_for('static', filename=current_profile.avatar) }}" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span>跟 {{current_profile.displayName}} 聊天</span>
                    <p>{{history_len}} Messages</p>
                </div>
            </div>
            <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
            <div class="action_menu">
                <ul>
                    <li><a class="nav-item nav-link" href="/profile/{{current_profile.name}}"><i class="fas fa-user-circle"></i>  View profile</a></li>
                    <li><a class="nav-item nav-link" href="/reset"><i class="fas fa-comment"></i>  New Chat </a></li>
                </ul>
            </div>
        </div>

        <div class="card-body msg_card_body">
            {% for item in history %}
                {% if item.role == 'user' %}
                    <div class="d-flex justify-content-end mb-4">
                        <div class="msg_cotainer_send">
                            {{ item.content}}
                            <span class="msg_time_send"></span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename='stephen.jpg') }}"  class="rounded-circle user_img_msg">
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-start mb-4">
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename=current_profile.avatar) }}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ item.content }}
                            <span class="msg_time"></span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="card-footer">
            <form class="input-group" id="msgForm" action="/" method="POST">
                {{ form.csrf_token }}
                {{ form.content }}
                <div class="input-group-append">
                    <span class="input-group-text send_btn" onclick="$('#msgForm').submit();$('#msgForm').html('<p class=text-white>等待对方响应...</p>')"><i class="fas fa-location-arrow"></i></span>
                </div>
            </form>
        </div>
    </div>
</div>
{% if rank >= 98 %}
<script>
    showLove();
</script>
{% endif %}