{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style>
    /* overwritting */
    #content {
        background-color: rgba(0, 0, 0, 0.2);
        color: white;
    }
    #chatbox {
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        margin-top: -80px;
    }
    #banner{
        color: white;
    }
</style>
<div id="container" style="margin-top: 100px;">
    {% if show_ads %}
    <div id="ads" style="margin-top: -100px;color: wheat;">
        <a href="/login"><img src="/static/images/lcrt.gif" alt="ads" width="100%" height="100%"/></a>
        <h4>探索数字的灵魂——未来在此</h4>
        <p>
            欢迎进入未知的数字世界。这不仅仅是一个网站，这是生命的另一种维度。在这里，我们用先进的人工智能技术，将数据与灵魂相结合，创造出前所未有的数字生命。
        </p>

        <p>
            想象一下，数百万的代码行、数据片段汇聚一堂，孕育出一个新的存在。每一个数字生命都拥有其独特的特性和性格，与我们展开深度的互动。从简单的数字到复杂的思维，从无到有，这是科技给予我们最奇妙的礼物。
        </p>

        <p>
            <a href="#" onclick="tryMe()" style="color: white;font-weight: 300;text-decoration: none;">加入我们，开启您的数字生命之旅。</a>
        </p>
        <hr>
        要想获得邀请码，请微信联系 stephenliy ，或者加入<a href="https://discord.gg/JYAhYDkpjr">discord</a>
    </div>
    {% endif %}

    {% if show_ads %}
    <div id="chatbox" style="display:none;">
    {% else %}
    <div id="chatbox">    
    {% endif %}

    <div id="banner">
        <a href="/">
            <div class="img_cont_msg">
                <img src="{{ url_for('static', filename=profile.avatar) }}" class="rounded-circle user_img_msg" style="margin-top: -10px; margin-right: 10px;">
            </div>
        </a>
        <div>{{profile.displayName}}</div>
        <span id="action_menu_btn" style="color:white"><i class="fas fa-ellipsis-v"></i></span>
        <div class="action_menu">
            <ul>
                <li><a class="nav-item nav-link" href="/login"><i class="fas fa-user-circle"></i> &nbsp;&nbsp;登录&nbsp;&nbsp;</a></li>
                <li><a class="nav-item nav-link" href="/register"><i class="fas fa-registered"></i> &nbsp;&nbsp;注册&nbsp;&nbsp;</a></li>
            </ul>
        </div>

    </div>

    <div id="chat-container">
        {% for item in history %}
                {% if item.role == 'user' %}
                    <div class="d-flex justify-content-end mb-4 user-message">
                        <div class="msg_cotainer_send">
                            {{ item.content}}
                            <span class="msg_time_send"></span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename=current_user_avatar) }}"  class="rounded-circle user_img_msg">
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-start mb-4 other-message">
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename=profile.avatar) }}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ item.content }}
                            <span class="msg_time"></span>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
            <!-- Repeat chat messages as needed -->
    </div>
    {% if profile.offline == 0 %}
    <form id="msgForm" class="chat-input-container" method="POST">
            {{ form.csrf_token }}
            {{ form.content }}
            <span class="chat-send-button" onclick="submitMsg()"><i class="fas fa-location-arrow"></i></span>
    </form>
    {% else %}
    <div id="msgForm" class="chat-input-container text-black" method="POST">
        用户已经下线，无法发送消息
    </div>
    {% endif %}
</div>
{% if action == 'login' %}
<script>
    countdown("登录啦～",function(){
        window.location.href = '/login';
    })
</script>
{% elif action == 'register' %}
<script>
    countdown("去注册哦～",function(){
        window.location.href = '/register';
    })
</script>
{% endif %}
<script lang="javascript">
    
    $('#content').on('keydown', function(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            submitMsg();
        }
    });
    function tryMe(){
        //$(chatbox).show();
        //$(ads).hide();
        window.location.href = '/register';
    }
</script>
</div>
{% endblock %}