<div class="col-md-4 col-xl-3 chat">
    <div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-body contacts_body">
            <ui class="contacts">
                <li class="active">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="{{ url_for('static', filename='jess.jpg') }}" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>JESS🦖🥥</span>
                            <p>JESS🦖🥥 is online</p>
                        </div>
                    </div>
                </li>
            </ui>
        </div>
        <div class="card-footer"></div>
    </div>
</div>