{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>灵芸.AI</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon1.png') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
</head>

<body>
    <a href="/"><img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo"></a>
    {% if userDisplayName %}
    <div id="user-container">
        欢迎 {{userDisplayName}}!
        <a href="/logout" class="text-white">登出</a>
    </div>
    {% endif %}
    <div id="container">
        {{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}
        {% block content %}{% endblock %}
    {{ bootstrap.load_js() }}
</body>
</html>
