{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style>
    .form-control {
        background-color: black;
        color: wheat;
    }
    .form-control:focus {
        background-color: black;
        color: wheat;
    }
    #main{
        margin-top: 0px;
    }
    #submenu{
        text-align: right;
        padding-right: 20px;
        color: wheat;
    }
</style>
<h4 id="submenu">My Account</h4>
<hr/>
<div class="login-form-container container">
    {{render_form(form)}}
</div>
<p>
    <input class="btn btn-info btn-md single-btn" value = "Save" onclick="submit()"/>
    </p>
<p>
<a href="/legacy/logout" class="btn btn-danger btn-md single-btn">Logout</a>
</p>
<script lang="javascript">
    function submit(){
        $(".login-form-container form").submit();
    }
</script>
{% endblock %}