{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<div id="container">
<div id="chatbox">
    <div id="banner">
        <a href="/">
            <img class="icon" src="{{ url_for('static', filename='images/return@2x.png') }}" alt="return-button"  ></button>
        </a>
        <div>{{profile.displayName}}</div>
        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
        <div class="action_menu">
            <ul>
                {% if profile.owned_by == session.get('username') %}
                <li><a class="nav-item nav-link" href="/profile/{{profile.name}}"><i class="fas fa-user-circle"></i>查看Profile</a></li>
                {% endif %}
                {% if support_memory %}
                <li><a class="nav-item nav-link" onclick="clearAndSaveChatHistory()"><i class="fas fa-comment-dots"></i>新建聊天</a></li>
                <li><a class="nav-item nav-link" onclick="resetChatHistory()"><i class="fas fa-window-restore"></i>重置记忆</a></li>
                {% else %}
                <li><a class="nav-item nav-link" onclick="clearChatHistory()"><i class="fas fa-comment"></i>新建聊天</a></li>
                {% endif %}
                <li><a class="nav-item nav-link" href="/friend/{{profile.name}}"><i class="fas fa-share"></i>把TA设置为我的数字代理 </a></li>
                <li><a class="nav-item nav-link" onclick="shareChatHistory()"><i class="fas fa-envelope"></i>与TA的创建者共享你的聊天 </a></li>
            </ul>
        </div>

    </div>

    <div id="chat-container">
        {% for item in history %}
                {% if item.role == 'user' %}
                    <div class="d-flex justify-content-end mb-4 user-message">
                        <div class="msg_cotainer_send">
                            {{ item.content}}
                            <span class="msg_time_send"></span>
                        </div>
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename=current_user_avatar) }}"  class="rounded-circle user_img_msg">
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-start mb-4 other-message">
                        <div class="img_cont_msg">
                            <img src="{{ url_for('static', filename=profile.avatar) }}" class="rounded-circle user_img_msg">
                        </div>
                        <div class="msg_cotainer">
                            {{ item.content|replace('\n', '<br/>')|safe }}
                            <span class="msg_time"></span>
                        </div>
                    </div>
                {% endif %}
        {% endfor %}
            <!-- Repeat chat messages as needed -->
    </div>
    {% if profile.offline == 0 %}
    <form id="msgForm" class="chat-input-container" method="POST">
            <textarea class="form-control type_msg" id="content" name="content"></textarea>
            <span class="chat-send-button" onclick="sync()"><i class="fas fa-location-arrow"></i></span>
    </form>
    {% else %}
    <div id="msgForm" class="chat-input-container text-black" method="POST">
        用户已经下线，无法发送消息
    </div>
    {% endif %}
</div>
{% if rank >= 98 %}
<script>
    
    showLove();
</script>
{% endif %}
<script lang="javascript">
    let current_user_avatar = "{{ url_for('static', filename=current_user_avatar) }}";
    let assistant_avatar = "{{ url_for('static', filename=profile.avatar) }}";
    function get_chat_item_user(content){
        content_text = $("<div>").text(content).html();
        return '\
    <div class="d-flex justify-content-end mb-4 user-message">\
                        <div class="msg_cotainer_send">'+ content_text +'\
                            <span class="msg_time_send"></span>\
                        </div>\
                        <div class="img_cont_msg">\
                            <img src="'+ current_user_avatar +'"  class="rounded-circle user_img_msg">\
                        </div>\
                    </div>'
    }
    function get_chat_item_assistant(content,isRaw){
        if(isRaw){
            content_text = content;
        }else{
            content_text = $("<div>").text(content).html();
        }
        content_text = content_text.replaceAll('\n','<br/>');
        return '\<div class="d-flex justify-content-start mb-4 other-message">\
                        <div class="img_cont_msg">\
                            <img src="'+ assistant_avatar +'" class="rounded-circle user_img_msg">\
                        </div>\
                        <div class="msg_cotainer">'+ content_text +'\
                            <span class="msg_time"></span>\
                        </div>\
                    </div>'
    }
    function add_progress_icon(){
        $chatItem_assist = $(get_chat_item_assistant('<image class="chat_progress" src ="/static/images/chat_progress.gif"/>',true));
        $chatItem_assist.attr('id','chat_progress');
        $("#chat-container").append($chatItem_assist);
        $("#chat-container")[0].scrollTop = $("#chat-container")[0].scrollHeight;

    }
    function remove_progress_icon(){
        $("#chat_progress").remove();
    }
    $('#content').on('keydown', function(event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            sync();
        }
    });

    function clear(){
        $("#chat-container").empty();
    }

    function sync(){
        user_input = $('#content').val();
        if(user_input == ''){
            return;
        }
        else{
            $chatItem = $(get_chat_item_user(user_input));
            $("#chat-container").append($chatItem);
        }
        data ={}
        data['content'] =  user_input;
        data['profile_name']= "{{profile.name}}";
        $.ajax({
            url: '/api/chat',
            type: 'POST',
            data: data,
            success: function(response){
                message = response.message;
                if(message.role=='assistant'){
                    $chatItem = $(get_chat_item_assistant(message.content));
                }else{
                    $chatItem = $(get_chat_item_user(message.content));
                }
                $("#chat-container").append($chatItem);
                $("#chat-container")[0].scrollTop = $("#chat-container")[0].scrollHeight;
                setTimeout(() => {
                    $("#content").focus();
                }, 100);
                
            },
            error: function(err){
                if(err.responseText.indexOf('balance is not enough')>=0){
                    flash("余额不足，请充值","warning");
                }else{
                    flash("服务器开小差了，请重试，或者刷新页面","warning");
                }
            }
        });
    }
    $(document).ajaxStart(function() {
      add_progress_icon();
      $("#content").val("");
      $("#content").attr('disabled','true');
    }).ajaxStop(function() {
      remove_progress_icon();
      $("#content").removeAttr('disabled');
    });
    function clearChatHistory(){
        url = "/reset/{{profile.name}}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                $("#chat-container").html("");  
                $(".action_menu").toggle();
            },
            error: function(err){
                flash(err.responseText);
                $(".action_menu").toggle();
            }
        });
    }
    function clearAndSaveChatHistory(){
        url = "/reset-save/{{profile.name}}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                $("#chat-container").html("");  
                $(".action_menu").toggle();
            },
            error: function(err){
                flash(err.responseText,"warning");
                $(".action_menu").toggle();
            }
        });
    }
    function shareChatHistory(){
        url = "/share/{{profile.name}}";
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                flash("已经成功分享给数字伴侣",'primary');
                $(".action_menu").toggle();
            },
            error: function(err){
                flash("服务器开小差啦，请重试",'warning');
                $(".action_menu").toggle();
            }
        });
    }
    function resetChatHistory(){
        $(".action_menu").toggle();
        showModal('Confirm',
        '你确认要重置你们的回忆吗？数字人将不再记得你们的聊天',
        '确认',
        function(){
            url = '/reset-memory/{{profile.name}}';
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    $("#chat-container").html("");  
                    flash("已经成功重置了你们的回忆",'primary');
                },
                error: function(err){
                    flash("服务器开小差了～",'warning');
                }
            });
            closeModal();
        },'danger')
    }
</script>
</div>
{% endblock %}