{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<div id="chatbox">
    <div id="banner">
        <a href="/">
            <img class="icon" src="{{ url_for('static', filename='images/return@2x.png') }}" alt="return-button"  ></button>
        </a>
        <div>创建新的数字人</div>
    </div>

    <div id="chat-container" class="text-black">
        {{render_form(form)}}
    </div>
    <div class="chat-input-container">
        <input type="submit" value="更新" class="btn btn-primary" onclick="$('form').submit()"/>
    </div>
</div>
{% endblock %}