{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<div id="chatbox">
    <div id="banner">
        <a href="/chat/{{name}}">
            <img class="icon" src="{{ url_for('static', filename='images/return@2x.png') }}" alt="return-button"  ></button>
        </a>
        <div>Profile for {{profile.displayName}}</div>
    </div>

    <div id="chat-container" class="text-black">
        {{render_form(form)}}
    </div>
    <div class="chat-input-container">
        <input type="submit" value="更新" class="btn btn-primary" onclick="$('form').submit()"/>&nbsp;&nbsp;&
        {% if profile.offline == False %}
        <a class="btn btn-warning" href="/profile/{{name}}/offline">设置下线</a>&nbsp;&nbsp;&
        {% else %}
        <a class="btn btn-info" href="/profile/{{name}}/online">设置上线</a>&nbsp;&nbsp;&
        {% endif %}
        <a class="btn btn-secondary" href="/profile/{{name}}/transfer">转交所属权</a>&nbsp;&nbsp;&
        <a class="btn btn-danger" href="/profile/{{name}}/delete"/>删除</a>&nbsp;&nbsp;&
    </div>
</div>
{% endblock %}