{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<div id="container">
<div id="chatbox">
    <div id="banner">
        <a href="/main/chat/{{name}}">
            <img class="icon" src="{{ url_for('static', filename='images/return@2x.png') }}" alt="return-button"  ></button>
        </a>
        <div>Profile for {{profile.displayName}}</div>
        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
        <div class="action_menu">
            <ul>
                <li><a class="nav-item nav-link" href="/profile/{{profile.name}}/advanced_edit"><i class="fas fa-edit"></i> 编辑会话</a></li>
            </ul>
        </div>
    </div>

    <div id="profile-container" class="text-black">
        {{render_form(form)}}
        <a href="/legacy/profile/{{profile.name}}/advanced_edit">Edit Conversation and Settings</a>
    </div>

    <div class="chat-input-container">
        <input type="submit" value="Update" class="btn btn-primary" onclick="$('form').submit()"/>&nbsp;&nbsp;&
        
        {% if profile.offline == False %}
        <a class="btn btn-warning" href="/legacy/profile/{{name}}/offline">Set Offline</a>&nbsp;&nbsp;&
        {% else %}
        <a class="btn btn-info" href="/legacy/profile/{{name}}/online">Set Online</a>&nbsp;&nbsp;&
        {% endif %}

        {% if profile.scope == 0 %}
        <a class="btn btn-info" href="/legacy/profile/{{name}}/:scope/private">Set Private</a>&nbsp;&nbsp;&
        {% else %}
        <a class="btn btn-success" href="/legacy/profile/{{name}}/:scope/public">Set Public</a>&nbsp;&nbsp;&
        {% endif %}

        <a class="btn btn-secondary" href="/legacy/profile/{{name}}/transfer">Transfer Ownership</a>&nbsp;&nbsp;&
        <a class="btn btn-danger" href="/legacy/profile/{{name}}/delete"/>Delete</a>&nbsp;&nbsp;&
        <a class="btn btn-secondary" href="/legacy/profile/{{name}}/advanced_edit" id="advancedBtn" style="display:none"/>*</a>&nbsp;&nbsp;&
    </div>
</div>
</div>
<script>
if(location.search=="?advanced"){
    $("#advancedBtn").show();
}
</script>
{% endblock %}