{% extends 'layout.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}
{% block content %}
<style>
    .form-control {
        background-color: black;
        color: wheat;
    }
    .form-control:focus {
        background-color: black;
        color: wheat;
    }
    a {
        color: orange;
    }
</style>
<h4 id="subheader">注册 / <a href="login">登录</a></h4>
<hr/>
<div class="login-form-container container">
    {{render_form(form)}}
</div>
<hr/>
要想获得邀请码，请微信联系 stephenliy ，或者加入<a href="https://discord.gg/JYAhYDkpjr">discord</a>
{% endblock %}